.container {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(194, 218, 140);
    border-radius: 20px;
}

#age {
    border: none;
    border-radius: 10px;
    background-color: chocolate;
    padding: 5px 10px;
    font-size: large;
    color: white;
}


#calculate {
    background-color: rgb(85, 147, 204);
    border: none;
    border-radius: 60px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
}

#result {
    font-size: x-large;
    font-weight: bold;
    color: rgb(85, 127, 204);
    
}