
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    
    

}
.image {
    flex: 1 1;
    
}

.info {
    text-align: start;
    flex: 1 1 ;
}

.info h2 {
    color: rgb(76, 121, 206);
}

.info h4 {
    letter-spacing: 2.5px;
}

.info p {
    color: rgb(130, 146, 175);
    margin-top: 40px;
}




.image img {
    width: 500px;
    margin-bottom: 2rem;
}

div.timer {
    display: flex;
    margin: 40px 0;
}

div.timer div {
    background-color: rgb(1, 1, 53);
    color: aliceblue;
    margin: 0 10px;
    padding: 10px 20px;

}

div.timer div h4 {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
}
