.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: chocolate;
}

.counter h2 {
    font-size: 100px;
    margin: 20px;
}

button {
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 0 5px;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}
