:root {
    --color1 : rgb(209, 160, 68);
}


body {
    margin-bottom: 100px;
}


.title {
    text-align: center;
    font-size: 35px;
    padding: 30px 0;
    color: var(--color1);
}
.btn {
    text-align: center;
}

.btn button {
    padding: 10px 18px;
    border: 2px solid var(--color1);
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    color: var(--color1);
    box-shadow: 2px 2px rgb(156, 139, 139);
    margin-right: 5px;
    
}

.btn button:hover {
    background-color: var(--color1);
    color: white;
}

.btn button:focus {
    background-color: var(--color1);
    color: white;
}

div.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
}


div.menu div.image img{
    width: 18rem;
    height: 18rem;
    border: 3px solid var(--color1);
    border-radius: 10px;
    margin: 30px;
}

div.text {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    border-bottom: 1px dotted gray;
    
}

div.text h4 {
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

div.text .price {
    color: var(--color1);
}

div.content {
    color: rgb(132, 147, 179);
    word-spacing: 3px;
    text-transform: capitalize;
    margin-top: 10px;
    text-align: center;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


